---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="relative bg-gradient-to-br from-[#010119] to-[#1b56ac] text-white overflow-hidden">
        <div class="absolute inset-0 bg-stars-pattern opacity-20 pointer-events-none" ></div>
        <div class="header-404">
            <Header />
          </div>
          
        <main class="flex flex-col items-center justify-center min-h-screen p-8 relative z-10">
            <section class="flex flex-col items-center justify-center text-center px-6">
                <h1 class="text-9xl font-extrabold text-accent drop-shadow-lg text-white">404</h1>
                <p class="text-2xl md:text-3xl mt-4 text-gray-300">Oops! Parece que te has perdido.</p>
                <p class="text-lg md:text-xl mt-2 text-gray-400">La página que buscas no está disponible.</p>
                <a href="/" class="mt-6 bg-gradient-to-r from-accent to-blue-500 text-white py-3 px-8 rounded-full text-lg font-medium shadow-lg transition transform hover:scale-105 hover:shadow-xl">
                  Volver al inicio
                </a>
            </section>
        </main>
        <Footer />
    </body>
</html>
<style>
    

  .bg-stars-pattern {
    /* background-image: url('/path-to-stars-pattern.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>