---
const today = new Date();
---

<footer class="bg-black text-black py-8">
  <div class="container mx-auto text-center">
    
    <div class="mb-4">
      <img src="/fda/fda-cofepris.webp" alt="FDA Approved" class="h-60 mx-auto" />
    </div>
    <strong class="mb-4 text-xl  ">&copy; {today.getFullYear()} NERVUX Neurotechnology. All rights reserved.</strong>
    
   
   <div class="contact-info text-xl">
      <p>Email: <a href="mailto:Nervux1@gmail.com" class="text-accent">Nervux1@gmail.com</a></p>
      <p>Whatsapp y llamadas: <a href="tel:+524424488313" class="text-accent">4424488313</a></p>
    </div>
     
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-primary);
    color: var(--color-black);
  }
  
  .contact-info a {
    color: var(--color-accent);
    text-decoration: none;
  }
  .contact-info a:hover {
    text-decoration: underline;
  }
</style>