---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-primary text-black shadow-md">
  <nav class="container mx-auto flex items-center justify-between p-4">
    <div class="flex items-center space-x-4">
      <img src="/logo/logo.webp" alt="Logo" class="h-10 w-10" />
      <h2 class="text-2xl font-bold"><a href="/">{SITE_TITLE}</a></h2>
    </div>
    <div class="hidden md:flex space-x-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/treatments">Tratamientos</HeaderLink>
      <HeaderLink href="/faq">FAQ</HeaderLink>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </div>
    <button id="menu-button" class="md:hidden flex items-center px-3 py-2 border rounded text-black border-white hover:text-accent hover:border-accent">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </nav>
  <div id="mobile-menu" class="hidden md:hidden">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/treatments">Tratamientos</HeaderLink>
    <HeaderLink href="/faq">FAQ</HeaderLink>
    <HeaderLink href="/contact">Contact</HeaderLink>
  </div>
</header>

<style>
  header {
    margin: 0;
    padding: 0;
  }
  h2 a {
    text-decoration: none;
    color: inherit;
  }
  nav a {
    padding: 0.5em 1em;
    color: inherit;
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }
  nav a:hover {
    border-bottom-color: var(--color-accent);
  }
  .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-links a svg {
    transition: color 0.3s;
  }
  .social-links a:hover svg {
    color: var(--color-accent);
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const menuButton = document.getElementById('menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    if (menuButton) {
      menuButton.addEventListener('click', function () {
      
        if (mobileMenu) {
        mobileMenu.classList.toggle('hidden');
      }
      })
    }
  }

  );
    
</script>